openapi: 3.2.0
info:
  title: VIN Decoder OEM VIN Lookup API
  description: Break down vehicle identification number into vehicle specification
  termsOfService: https://vincario.com/terms-and-conditions/
  contact:
    name: Vincario
    url: https://vincario.com/
    email: support@vincario.com
  version: '3.2'
servers:
- url: https://api.vincario.com/
tags:
- name: OEM VIN Lookup
paths:
  /3.2/{API_KEY}/{CONTROL_SUM}/oem/{VIN}.{format}:
    get:
      operationId: OEM_VIN_Lookup
      tags:
      - OEM VIN Lookup
      summary: OEM VIN Lookup
      description: The OEM VIN Lookup service performs an API query to the manufacturer's database and returns an object containing all available information about the vehicle. This includes vehicle basic and specific equipment, color codes, KBA numbers, specifications for electric vehicles, battery size, battery charging type, the original price of the vehicle, and much more.
      parameters:
      - name: API_KEY
        in: path
        description: Your API key
        required: true
        schema:
          type: string
      - name: CONTROL_SUM
        in: path
        description: 'The CONTROL_SUM for this endpoint is generated by taking the first 10 characters of the SHA1 hash of your VIN, the operation ID ''<strong>oem</strong>'', API key, and secret key, concatenated in that order.<br/> <i>For instance</i>: <code>$controlSum = substr(sha1("{$vin}|oem|{$apiKey}|{$secretKey}"), 0, 10);</code><br/> For a complete guide, please refer to the <a href="https://vincario.com/api-docs/3.2/#api-how-to-create-a-request">How to create a request</a>.

          '
        required: true
        schema:
          type: string
      - name: VIN
        in: path
        description: Vehicle Identification Number
        required: true
        style: simple
        schema:
          maxLength: 17
          minLength: 17
          type: string
        example: XXXDEF1GH23456789
      - name: format
        in: path
        description: Response format (json or html)
        required: true
        style: simple
        schema:
          type: string
          default: json
      responses:
        '200':
          description: 'Returns an object containing all available information about the vehicle. This includes vehicle basic and specific equipment, color codes, KBA numbers, specifications for electric vehicles, battery size, battery charging type, the original price of the vehicle, and much more.

            '
          content:
            application/json:
              schema:
                description: "<pre>{\n  <span>\"vin\"</span>: <i>string</i>,\n  <span>\"price\"</span>: <b>float</b>,\n  <span>\"price_currency\"</span>: <i>string</i>,\n  <span>\"balance\"</span>: {\n    <span>\"API Decode\"</span>: <b>integer</b>,\n    <span>\"API Stolen Check\"</span>: <b>integer</b>,\n    <span>\"API Vehicle Market Value\"</span>: <b>integer</b>,\n    <span>\"API OEM VIN Lookup\"</span>: <b>integer</b>,\n    <span>\"API OEM Service History\"</span>: <b>integer</b>\n  },\n  <span>\"decode\"</span>: [\n    {\n      <span>\"label\"</span>: <i>string</i>,\n      <span>\"value\"</span>: <i>mixed</i>\n    },\n    {\n      <span>\"label\"</span>: <i>string</i>,\n      <span>\"value\"</span>: <i>mixed</i>\n    },\n    {\n      <span>\"label\"</span>: <i>string</i>,\n      <span>\"value\"</span>: <i>mixed</i>\n    }\n  ]\n}</pre>\n"
              examples:
                Success response:
                  value: '{"vin":"XXXDEF1GH23456789","price":0,"price_currency":"USD","balance":{"API VIN Decode":218,"API Stolen Check":205,"API Vehicle Market Value":205,"API OEM VIN Lookup":203,"API OCR VIN Scanner":195},"decode":[{"label":"VIN","value":"XXXDEF1GH23456789"},{"label":"Vehicle ID","value":27147},{"id":112,"label":"Make","value":"Volkswagen"},{"id":26918,"label":"Model","value":"Taigo"},{"label":"Series","value":"CS14PZ"},{"id":1,"label":"Drive","value":"Front-wheel drive"},{"label":"Vehicle Specification","value":"Taigo 1.5 StyleGT110 TSID7F"},{"label":"Engine Displacement (ccm)","value":1500},{"label":"Engine Power (kW)","value":110},{"id":8,"label":"Fuel Type - Primary","value":"Gasoline"},{"label":"Engine (full)","value":"DXDB 4-cylinder SI engine 1.5 l TSI, 110 kW"},{"label":"Engine Code","value":"DXDB"},{"id":2,"label":"Transmission","value":"Automatic"},{"label":"Transmission Code","value":"WQA"},{"label":"Make Logo","value":"https:\/\/api.test.vincario.com\/img\/make\/volkswagen.svg"},{"label":"Made","value":"2026-02-03"},{"label":"Steering","value":"Left Hand Drive (LHD)"},{"id":0,"label":"Color","value":"Ascot Gray\/Black"},{"label":"Color Code","value":"6U\/A1"},{"label":"Color (interior)","value":"Pale Gray\/Titanium Black\/Black\/Titanium Black"},{"label":"Color Code (interior)","value":"GF"},{"label":"Equipment","value":{"PE0A":"No special edition","PK8G":"Hatchback","P1T2":"Warning triangle","P4P2":"Rear floor panel module, type 3","P1D0":"Without trailer hitch","PVF0":"Standard pedal cluster","P0A2":"4 doors","P4AP":"Door and side trim panel","P3C7":"3-point seat belt for center rear seat","PKK3":"Refrigerant R1234yf","P0Y1":"Standard climatic zones","P8Z5":"Not hot country","P8FA":"Without second battery","PQH0":"Without voice control","PEF0":"Without ECO function","PF0A":"No special purpose vehicle, standard equipment","P1S1":"Tool kit and jack","P2WA":"Without additional tires","P8GU":"Alternator 140 A","P1Z0":"Initial standard fuel filling","P9T0":"Without heated washer nozzles","P5D1":"Carrier frequency 433.92 MHz-434.42 Mhz","P1N1":"Power steering","PL40":"Suspension range 40 installation control only, no requirement forecast","P7M5":"Without protective film for scuff plate","PQN0":"Without drawers under front seats","P9E1":"Luggage compartment lighting","P0P4":"Exhaust tailpipe, double-flow","P8Y0":"Single-tone horn","P0B1":"Wheelbase","PAV1":"Driving on the right","P0YP":"Weight range 14 installation control only, no requirement forecast","P1Y0":"Without differential lock","PNY0":"Standard battery\/alternator capacity","PUC5":"Rear shock absorption","P0FB":"Pamplona manufacturing sequence","P0N6":"Standard rear axle","PC13":"Operating permit, alteration","PIS0":"Without interface for external use","P00B":"Rear overhang, medium","P3S1":"Silver-anodized roof rails","P4A3":"Heated front seats","P9M0":"Without auxiliary heater\/parking heater","PB0A":"Part set without country-specific prescriptive standard","PL0L":"Left-hand drive","PQG1":"LongLife Service Regime","P6Q2":"Gearshift knob in leather","P7K1":"Tire pressure monitoring system","P0K0":"Without alternative drive system","P0TD":"Carpet mats in front and rear","P1G9":"Space- and weight-saving spare wheel","P1NL":"Trims for alloy wheels","P1PE":"Wheel locks with extended theft protection","P1X0":"Front-wheel drive","P3H0":"Non-folding front passenger seat backrest","P4I3":"Keyless locking and starting system Keyless Access without SAFELOCK","P4L6":"Auto-dimming interior rearview mirror","P5XJ":"Illuminated vanity mirrors in sun visors","P6K4":"Autonomous Emergency Braking Front Assist (for Adaptive Cruise Control ACC up to 210 km\/h)","P6NA":"Headliner","P6T1":"Light unit in front footwell","P7AA":"Electronic immobilizer","P7L6":"Start-stop system with regenerative braking","P7X5":"Park Assist with Park Distance Control","P7Y1":"Lane change system Side Assist and Rear Traffic Alert","P8AR":"Radio","P8N6":"Rain sensor","P8T8":"Adaptive Cruise Control ACC stop & go incl. speed limiter","P8W1":"Warning lamp for washer fluid level","P8X0":"Without headlamp washer system","P9JA":"Non-smoker''s package: Storage compartment and 12-V outlet in front","PG1C":"7-speed automatic transmission or dual-clutch transmission DSG, note: PR family EDF","PQV3":"Digital radio reception DAB+","PGP0":"Vehicles without special upgrade measures","P3L3":"Front seats with height adjustment","P4R4":"Power windows","P5ZF":"Safety-optimized front head restraints","P8M1":"Rear window wiper with intermittent control","PV0A":"Tires without specification of tire brand","P4GF":"Laminated safety glass windshield, heat-insulating","P4UF":"Driver and front passenger airbag with front passenger airbag deactivation","P6YD":"Exterior mirrors, power-adjustable, folding and heated, w\/ front passenger exterior mirror lowering function","P7P4":"Lumbar supports in front","P7W2":"Proactive passenger protection system in combination with Front Assist","P8Q3":"Dynamic headlight range control","P8RL":"6 speakers","P8WH":"Front fog lamps and cornering light","PKA1":"Rear view camera system","P6PC":"Hand brake lever handle in leather","P1AS":"Electronic Stability Control w\/ driver steering recommendation, ABS, ASR, EDL, EDTC and trailer stabilization","P8S6":"2 reading lights in front","PQ4H":"Sports comfort seats in front","PUG1":"Hill start assist","P2C5":"Height and longitudinally adjustable steering column","P9AK":"Air Care Climatronic 2 zone automatic climate control with enhanced air filterwith activated carbon","P0NB":"Nameplate set in basic style","P4N1":"Foamed dashboard","P1J2":"Surround lighting with welcome light","P3ZU":"3-point seat belts for the outer rear seats","P5JA":"Exterior mirrors: aspherical on driver side, convex on front passenger side","P8TL":"Rear fog light on one side, back-up light on both sides","P8VG":"LED rear combination lamps","P9ZV":"Mobile phone interface with inductive charging feature","P2V5":"Fresh air intake system with combinationfilter","P9P4":"Warning signal and warning light for front and rear seat belts not fastened","PQK1":"With multifunction camera","P1EX":"Special identification label for EC for M1 passenger vehicles","PER1":"Regional code \" ECE \" for radio","P4KF":"Privacy glass for rear side windows and rear window","P1A7":"Fuel system for fuel-injected SI engine (tropicalized)","P3NZ":"Unsplit rear bench seat, asymmetric split folding backrest","P8ZQ":"Diversity antenna for FM reception","PB03":"Type approval country Czech Republic","PX1F":"Equipment options subset for Czech Republic","PQR9":"Dynamic Road Sign Display","PDS9":"4-cylinder SI engine 1.5 l TSI, 110 kW","PEL5":"Online service, with OCU, with head unit coding, without engine immobilizer interconnection","P3Q6":"3 head restraints in rear","P6E3":"Front center armrest, longitudinally adjustable, with storage compartment","P5K0":"Without surface protection, with additional transport protection measures","P0EG":"Dual-clutch transmission DSG DQ200","P3A2":"ISOFIX anchors for child seats on outer rear bench seats and on front passenger seat, compatible for i-Size","P1E5":"Activated carbon canister (Evaporative Emission Control System (EVAP))","PQQ3":"Ambient lighting","P2FE":"Leather-wrapped multi-function steering wheel with shifting paddles","P2H0":"Without \"drive select\"","PQI6":"Service indicator 30 000 km or 2 years ( variable )","PG15":"Shock absorption in front","P6C2":"Curtain airbags in front and rear, side airbags in front, center airbag","PAW4":"\"Standard Plus\" version","P1KV":"Disc brakes in rear","P0AT":"Front stabilizer bar","P1ZS":"Disc brakes in front","P4ZC":"Decorative trims","P5PL":"Vehicle class differentiation -2F0-","P6FH":"Black exterior mirror housings","P6I2":"Semi-automated driving assistance Travel Assist and lane keeping system Lane Assist","P8IV":"IQ.LIGHT - LED matrix headlamps with LED separate daytime running light","P9I5":"Automatic headlight control with LED separate daytime running light and exit and entry lighting","PH9F":"Tires 215\/45 R18","PQJ3":"Chrome bezel for instrument cluster, vents, door handles, and gear shift","PUD3":"Illuminated molding between headlamps","PWLB":"Lights & Vision package","P3QH":"3-point seat belts in front with height adjustment and seat belt pretensioners","PVL6":"Pedestrian and cyclist monitoring","P0VW":"Manual in Czech","P7J1":"Multi-color Digital Cockpit, selection of different info profiles possible","P5MJ":"Decorative inserts \"Deep Iron Gray\" for dashboard and front door trim panels","PJ4J":"Battery 380 A (59 Ah) EFB+","PN09":"4-cylinder SI engine 1.5 l unit 05E.D","PU9E":"2 USB-C ports in the front, 2 USB-C charging sockets on the center console in rear, charging capacity up to 45 W","PA8F":"Style","P44N":"4 alloy wheels \"Funchal\" 7J x 18, Adamantium Silver","P2JH":"Body-colored bumpers, air intake and radiator grille with chrome trims, rear bumper with chrome trim","PN2P":"Inserts of front seats and outer rear seats in fabric \"Style\"","PPJN":"\"Funchal\" 7J x 18, Adamantium Silver, tires 215\/45 R18","PPWF":"Space- and weight-saving spare wheel","P9WJ":"App-Connect Wireless for Apple CarPlay and Android Auto","P8G4":"Advanced high-beam control Dynamic Light Assist","PEM2":"Advanced driver attention & drowsiness monitor","PNI7":"With UNECE CS (R155) without SU (R156)","P3FA":"Standard roof","PNZ4":"Emergency call service,10-year contract duration as of initial delivery, condition: mob. phone network available","P4VN":"Emission standard, WLTP3 M1, N1-I\/\/EU6EB","PYOS":"Preparation for VW Connect and VW Connect Plus","P3GD":"Luggage compartment floor adjustable in 2 heights, for flat cargo area","P7UJ":"Preparation for subsequent activation: Navigation feature \"Discover Media\"","PZBP":"Infotainment package \"Ready 2 Discover\"","PPDR":"Black Roof Styling package","PPF3":"IQ.Drive assistance systems package","PW34":"Czech Republic: Winter Convenience package for CS13\/4\/5* forces 9ZV,4A3,4I3","PA1E":"Country cluster WLTP, countries with EU approval","LA7A\/L041":"Ascot Gray\/Black","PPF2":"Park & Convenience assistance package","PW09":"VE: Top package Style with rear view camera system forces PJN,KA1,4KF"}}]}'
                When you use an incorrect API key:
                  value: '{"error":true,"message":"Unknown API Key"}'
                When you use an incorrect control sum:
                  value: '{"error":true,"message":"Invalid Control sum"}'
                When you run out of prepaid lookups:
                  value: '{"error":true,"message":"Not Enough Lookups"}'
                When you reach a limit of requests per minute:
                  value: '{"error":true,"message":"You''ve reached limit of 60 requests per minute. Contact us at info@vincario.com for a customized limit."}'
                When VIN is not recognized:
                  value: '{"error":true,"message":"Not recognized"}'
                When the vehicle belongs to a different market than those available to you:
                  value: '{"error":true,"message":"Vehicle can be looked up only at <COUNTRY_CODE> market. Contact us for more information."}'
                When you need to accept new Terms and Conditions:
                  value: '{"error":true,"message":"You need to Login and confirm new Terms and Conditions at https://vincario.com/terms-and-conditions/."}'
        '404':
          description: The route could not be found.
        '500':
          description: Unexpected internal errors.
externalDocs:
  description: Vincario API Documentation
  url: https://vincario.com/api-docs/3.2/
