openapi: 3.2.0
info:
  title: Vincario VIN Decoder Decode API
  description: REST API for the vindecoder.eu service operated by Vincario.
  termsOfService: https://vindecoder.eu/terms
  contact:
    name: Vincario Support
    url: https://vincario.com
  version: '3.2'
servers:
- url: https://api.vindecoder.eu/3.2
  description: Vincario VIN Decoder API v3.2
security:
- signedPath: []
tags:
- name: Decode
paths:
  /{apikey}/{controlsum}/decode/{vin}.json:
    get:
      operationId: decodeVin
      tags:
      - Decode
      summary: Decode a VIN into a full vehicle specification
      description: Decodes a 17-character VIN and returns the full vehicle specification (make, model, model year, body, engine, fuel, transmission and additional decoded attributes). The control sum is computed from `{VIN}|decode|{apikey}|{secretkey}`.
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/ControlSum'
      - $ref: '#/components/parameters/Vin'
      responses:
        '200':
          description: Decoded vehicle specification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecodeResponse'
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
components:
  parameters:
    ControlSum:
      name: controlsum
      in: path
      required: true
      description: First 10 characters of `sha1("{lookup}|{id}|{apikey}|{secretkey}")`.
      schema:
        type: string
        minLength: 10
        maxLength: 10
    Vin:
      name: vin
      in: path
      required: true
      description: The 17-character Vehicle Identification Number (uppercase).
      schema:
        type: string
        minLength: 11
        maxLength: 17
        example: WF0MXXGBWM8R43240
    ApiKey:
      name: apikey
      in: path
      required: true
      description: The account API key (id).
      schema:
        type: string
  responses:
    Error:
      description: Error response (invalid VIN, bad control sum, or insufficient balance).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    DecodeResponse:
      type: object
      properties:
        decode:
          type: array
          description: List of decoded label/value pairs describing the vehicle.
          items:
            type: object
            properties:
              label:
                type: string
                example: Make
              value:
                type: string
                example: Ford
              id:
                type: integer
                example: 1
        price:
          type: number
          description: Number of credits charged for the request.
          example: 1
        balance:
          type: object
          description: Remaining balance per service after the request.
          additionalProperties:
            type: number
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
          example: Invalid VIN
        code:
          type: integer
          description: Error code.
          example: 400
  securitySchemes:
    signedPath:
      type: apiKey
      in: query
      name: controlsum
      description: Path-signed authentication. The API key (id) and a per-request SHA1 control sum are passed as URL path segments rather than headers or query parameters; this scheme is declared as a placeholder because OpenAPI 3.0 cannot natively express path-segment-based signed credentials. The control sum is `substr(sha1("{lookup}|{id}|{apikey}|{secretkey}"), 0, 10)`. The secret key is never sent over the wire.
