openapi: 3.2.0
info:
  title: VIN Decoder Stolen Check API
  description: Break down vehicle identification number into vehicle specification
  termsOfService: https://vincario.com/terms-and-conditions/
  contact:
    name: Vincario
    url: https://vincario.com/
    email: support@vincario.com
  version: '3.2'
servers:
- url: https://api.vincario.com/
tags:
- name: Stolen Check
paths:
  /3.2/{API_KEY}/{CONTROL_SUM}/stolen-check/{VIN}.{format}:
    get:
      operationId: Stolen_Check
      tags:
      - Stolen Check
      summary: Stolen Check
      description: VIN Stolen Check returns an object with price, balance and stolen array of objects with 'code' and 'status' properties. Each stolen object represents a 'database'.
      parameters:
      - name: API_KEY
        in: path
        description: Your API key
        required: true
        schema:
          type: string
      - name: CONTROL_SUM
        in: path
        description: 'The CONTROL_SUM for this endpoint is generated by taking the first 10 characters of the SHA1 hash of your VIN, the operation ID ''<strong>stolen-check</strong>'', API key, and secret key, concatenated in that order.<br/> <i>For instance</i>: <code>$controlSum = substr(sha1("{$vin}|stolen-check|{$apiKey}|{$secretKey}"), 0, 10);</code><br/> For a complete guide, please refer to the <a href="https://vincario.com/api-docs/3.2/#api-how-to-create-a-request">How to create a request</a>.

          '
        required: true
        schema:
          type: string
      - name: VIN
        in: path
        description: Vehicle Identification Number
        required: true
        style: simple
        schema:
          maxLength: 17
          minLength: 17
          type: string
        example: XXXDEF1GH23456789
      - name: format
        in: path
        description: Response format (json or html)
        required: true
        style: simple
        schema:
          type: string
          default: json
      responses:
        '200':
          description: 'Returns an object with price, balance and stolen array of objects with ''code'' and ''status'' properties. Each stolen object represents a ''database''.

            '
          content:
            application/json:
              schema:
                description: "<pre>{\n  <span>\"vin\"</span>: <i>string</i>,\n  <span>\"price\":</span> <b>float</b>,\n  <span>\"price_currency\":</span> <i>string</i>,\n  <span>\"balance\":</span> {\n    <span>\"API Decode\":</span> <b>integer</b>,\n    <span>\"API Stolen Check\":</span> <b>integer</b>,\n    <span>\"API Vehicle Market Value\":</span> <b>integer</b>,\n    <span>\"API OEM VIN Lookup\":</span> <b>integer</b>,\n    <span>\"API OEM Service History\":</span> <b>integer</b>\n  },\n  <span>\"stolen\"</span>: [\n    {\n        <span>\"code\"</span>: <b>string</b>,\n        <span>\"status\"</span>: <i>\"stolen\"</i><b>|</b><i>\"not-stolen\"</i><b>|</b><i>\"could-not-verify\"</i>\n    },\n    <b>...</b>\n  ],\n  <span>\"make_logo\"</span>: <i>string|null</i>\n}</pre>\n"
              examples:
                Success response:
                  description: '<p><strong>Code could have these values:</strong></p> <ul> <li><strong>cz</strong> - Czech Republic</li> <li><strong>hu</strong> - Hungary</li> <li><strong>ro</strong> - Romania</li> <li><strong>si</strong> - Slovenia</li> <li><strong>sk</strong> - Slovakia</li> <li><strong>it</strong> - Italy</li> <li><strong>vincario</strong> - Our own database of stolen cars</li> </ul> <br/> <p><strong>Status could have these values:</strong></p> <ul> <li><strong>stolen</strong> - VIN is reported as stolen in the police database.</li> <li><strong>not-stolen</strong> - VIN is NOT reported in the police database.</li> <li><strong>could-not-verify</strong> - Respective police database failed to respond. Please, try again later.</li> </ul> <br/>

                    '
                  value: '{"vin":"XXXDEF1GH23456789","price":0,"price_currency":"CZK","balance":{"API Decode":218,"API Stolen Check":205,"API Vehicle Market Value":205,"API OEM VIN Lookup":0},"stolen":[{"code":"cz","status":"not-stolen"},{"code":"sk","status":"stolen"},{"code":"ro","status":"could-not-verify"}],"make_logo":"https://vindecoder.eu/img/make/volvo.svg"}'
                When you use an incorrect API key:
                  value: '{"error":true,"message":"Unknown API Key"}'
                When you use an incorrect control sum:
                  value: '{"error":true,"message":"Invalid Control sum"}'
                When you run out of prepaid lookups:
                  value: '{"error":true,"message":"Not Enough Lookups"}'
                When you reach a limit of requests per minute:
                  value: '{"error":true,"message":"You''ve reached limit of 60 requests per minute. Contact us at info@vincario.com for a customized limit."}'
        '404':
          description: The route could not be found.
        '500':
          description: Unexpected internal errors.
externalDocs:
  description: Vincario API Documentation
  url: https://vincario.com/api-docs/3.2/
