openapi: 3.2.0
info:
  title: VIN Decoder Get Balance API
  description: Break down vehicle identification number into vehicle specification
  termsOfService: https://vincario.com/terms-and-conditions/
  contact:
    name: Vincario
    url: https://vincario.com/
    email: support@vincario.com
  version: '3.2'
servers:
- url: https://api.vincario.com/
tags:
- name: Get Balance
paths:
  /3.2/{API_KEY}/{CONTROL_SUM}/balance.{format}:
    get:
      operationId: Get_Balance
      tags:
      - Get Balance
      summary: Get Balance
      description: 'Get balance returns an object, where the key is a lookup type and value is the balance. The types can be:


        API Decode


        API Stolen Check


        API Vehicle Market Value


        API OEM VIN Lookup


        API OEM Service History'
      parameters:
      - name: API_KEY
        in: path
        description: Your API key
        required: true
        schema:
          type: string
      - name: CONTROL_SUM
        in: path
        description: 'The CONTROL_SUM for this endpoint is generated by taking the first 10 characters of the SHA1 hash of your VIN, the operation ID ''<strong>balance</strong>'', API key, and secret key, concatenated in that order.<br/> <i>For instance</i>: <code>$controlSum = substr(sha1("{$vin}|balance|{$apiKey}|{$secretKey}"), 0, 10);</code><br/> For a complete guide, please refer to the <a href="https://vincario.com/api-docs/3.2/#api-how-to-create-a-request">How to create a request</a>.

          '
        required: true
        schema:
          type: string
      - name: format
        in: path
        description: Response format (json or html)
        required: true
        style: simple
        schema:
          type: string
          default: json
      responses:
        '200':
          description: 'Rreturns an object, where the key is a lookup type and value is the balance. The types can be: <ul> <li>API Decode</li> <li>API Stolen Check</li> <li>API Vehicle Market Value</li> <li>API OEM VIN Lookup</li> <li>API OEM Service History</li> </ul>

            '
          content:
            application/json:
              schema:
                description: "<pre>{\n  <span>\"API Decode\":</span> <b>integer</b>,\n  <span>\"API Stolen Check\":</span> <b>integer</b>,\n  <span>\"API Vehicle Market Value\":</span> <b>integer</b>,\n  <span>\"API OEM VIN Lookup\":</span> <b>integer</b>,\n  <span>\"API OEM Service History\":</span> <b>integer</b>\n}</pre>\n"
              examples:
                Success response:
                  value: '{"API Decode":218,"API Stolen Check":205,"API Vehicle Market Value":205,"API OEM VIN Lookup":0,"API OEM Service History":0}'
                When you use an incorrect API key:
                  value: '{"error":true,"message":"Unknown API Key"}'
                When you use an incorrect control sum:
                  value: '{"error":true,"message":"Invalid Control sum"}'
                When you reach a limit of requests per minute:
                  value: '{"error":true,"message":"You''ve reached limit of 60 requests per minute. Contact us at info@vincario.com for a customized limit."}'
        '404':
          description: The route could not be found.
        '500':
          description: Unexpected internal errors.
externalDocs:
  description: Vincario API Documentation
  url: https://vincario.com/api-docs/3.2/
