openapi: 3.2.0
info:
  title: Vincario VIN Decoder Vehicle Info API
  description: REST API for the vindecoder.eu service operated by Vincario.
  termsOfService: https://vindecoder.eu/terms
  contact:
    name: Vincario Support
    url: https://vincario.com
  version: '3.2'
servers:
- url: https://api.vindecoder.eu/3.2
  description: Vincario VIN Decoder API v3.2
security:
- signedPath: []
tags:
- name: Vehicle Info
paths:
  /{apikey}/{controlsum}/vininfo/{vin}.json:
    get:
      operationId: vinInfo
      tags:
      - Vehicle Info
      summary: List the vehicle details available for a VIN
      description: Returns the list of vehicle details that can be decoded for the supplied VIN. This informational lookup is free of charge. The control sum is computed from `{VIN}|vininfo|{apikey}|{secretkey}`.
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/ControlSum'
      - $ref: '#/components/parameters/Vin'
      responses:
        '200':
          description: Available decodable details for the VIN.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VinInfoResponse'
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
components:
  parameters:
    ControlSum:
      name: controlsum
      in: path
      required: true
      description: First 10 characters of `sha1("{lookup}|{id}|{apikey}|{secretkey}")`.
      schema:
        type: string
        minLength: 10
        maxLength: 10
    Vin:
      name: vin
      in: path
      required: true
      description: The 17-character Vehicle Identification Number (uppercase).
      schema:
        type: string
        minLength: 11
        maxLength: 17
        example: WF0MXXGBWM8R43240
    ApiKey:
      name: apikey
      in: path
      required: true
      description: The account API key (id).
      schema:
        type: string
  responses:
    Error:
      description: Error response (invalid VIN, bad control sum, or insufficient balance).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    VinInfoResponse:
      type: object
      properties:
        vininfo:
          type: array
          description: List of vehicle details that can be decoded for the VIN.
          items:
            type: object
            properties:
              label:
                type: string
              id:
                type: integer
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
          example: Invalid VIN
        code:
          type: integer
          description: Error code.
          example: 400
  securitySchemes:
    signedPath:
      type: apiKey
      in: query
      name: controlsum
      description: Path-signed authentication. The API key (id) and a per-request SHA1 control sum are passed as URL path segments rather than headers or query parameters; this scheme is declared as a placeholder because OpenAPI 3.0 cannot natively express path-segment-based signed credentials. The control sum is `substr(sha1("{lookup}|{id}|{apikey}|{secretkey}"), 0, 10)`. The secret key is never sent over the wire.
